.mainview-container {
    width: 100%;
    padding: 20px;
}

/*
.mainview-container .todo-list-title::before {
    position: absolute;
    top: 40px;
    content: "";
    opacity: 50%;
    background-color: yellow;
    width: 250px;
    height: 20px;
    rotate: 3deg;
}
*/

.mainview-container .todo-list-title[type=text] {
    border: none;
    font-size: 34pt;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.mainview-container .todo-list-title[type=text]:focus {
    border: none;
    outline: none;
    outline: none;
}

.no-list-selected-container {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.no-list-selected-message {
    font-size: xx-large;
    color: gray;
}

.todo-list-items-container {
    padding: 16px;

}