.todo-item {
    min-height: 70px;
    border-radius: 4px;
    transition: 300ms;
    max-width: 100%;
    width: 100%;
    max-width: 100%;
    width: 100%;
}

.todo-item:hover {
    background-color: #eeeeee;
    min-height: 70px;
    border-radius: 4px;

}