.NavBar {
    padding: 10pt;
    gap: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 0px 0px lightgray;
}

.horizontal-space {
    width: 100%;
    background-color: black;
}

.app-title {
    font-size: 24pt;
    font-weight: bold;
    min-width: fit-content;
    width: 200px;
}

.NavBarButton {
    background-color: white;
    color: black;
    border: solid 1px black;
    border-radius: 0px;
    height: 30px;
    width: 100px;
    min-width: fit-content;
    min-height: fit-content;
    font-weight: bolder;
    font-size: 12pt;
    box-shadow: 2px 2px 0px 0px black;
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.1s;
}



.NavBarButton:disabled {
    background-color: white;
    color: gray;
    border: solid 2px gray;
    border-radius: 0px;
    height: 30px;
    width: 100px;
    min-width: fit-content;
    min-height: fit-content;
    font-weight: bolder;
    font-size: 12pt;
    box-shadow: 0px 0px 0px 0px black;
    padding-left: 15px;
    padding-right: 15px;
}

.NavBarButton:hover:enabled {
    border: solid 1px gray;
    box-shadow: 2px 2px 0px 0px gray;
}

.NavBarButton:active:enabled {
    box-shadow: 0px 0px 0px 0px gray;
    translate: 2px 2px;

}


.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px black;
    box-shadow: 4px 4px 0 0 black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 8px;
}


.todoList {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 8px;
    max-height: 500px;
    overflow-y: scroll;
}

.todoListUI {
    min-height: 200px;
    display: flex;
    border: solid 1px black;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 4px;
    padding: 10px;
    box-shadow: 2px 2px 0px 0px black;
}

.todoListEmpty {
    color: lightgray;
    font-size: 16pt;
    font-weight: bold;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.add-form {
    padding: 8px;
    border: solid 1px black;
    margin: 10px;
    box-shadow: 2px 2px 0px 0px black;
    display: flex;
    gap: 8px;
}


.add-input {
    font-size: 12pt;
    padding-left: 15px;
    width: 100%;
    border: solid 1px black;
    box-shadow: 2px 2px 0px 0px black;
    transition: 0.2s;
}



.add-input:focus {
    border: solid 1px black;
    box-shadow: none;
    outline: none;
    translate: 2px 2px;
}


.checkbox {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: solid 1px black;
    box-shadow: 2px 2px 0px 0px #383838;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-content {
    background-color: black;
    width: 15px;
    height: 15px;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: small;
}

.checkbox:active {
    box-shadow: 0px 0px 0px 0px #383838;
    translate: 2px 2px;
}


.statsbar {
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 10pt;
}


.todo-list-controls {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-size: 14pt;
    font-weight: bold;
}